.pageWrapper {
  min-height: 100vh;
}
.contentArea {
  flex-grow: 1;
}
.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}
.card {
  box-shadow: $card-box-shadow;
  margin-bottom: 30px;
}

.circle-box {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
  &.lg-box {
    width: 60px;
    height: 60px;
    font-size: 21px;
    line-height: 60px;
  }
}
.button-group .btn {
  margin: 3px;
}
.inputBuscar{
  width: 50% !important;
}

table{
  min-width: 500px;
}

.containerInput{
  align-items: flex-end;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 25px;
}

@media (max-width: 988px){
  
  .inputBuscar{
    width: 100% !important;
  }

  .App{
    padding: 40px 5px;
  }

  
.containerInput{
  padding-bottom: 15px;
}
}

#mismacolumna{
  flex-direction: column;
}

